.pageA4 {
  height: 297mm;
  max-height: 297mm;
  width: 210mm;
  max-width: 210mm;
  padding: 1.6mm;

  display: flex;
  justify-content: center;
  flex-flow: wrap
}

@media print {

  * {
    visibility: visible;
    width: auto;
    height: auto;
    display: block;
  }

}