.pageA4 {
  height: 297mm;
  max-height: 297mm;
  width: 210mm;
  max-width: 210mm;
  padding: 25mm;
  border: 1px solid black;

  display: flex;
  align-content: center;
  justify-content: left;
  flex-flow: wrap;
}

@media print {

  * {
    visibility: visible;
    width: auto;
    height: auto;
    display: block;
  }

  .pageA4 {
    border: 0px;
  }
}