<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main">
  <div>
    <div>
      <mat-toolbar color="primary">
        <span>WhereWereAng - BarCode & QrCode Scanner</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-header>
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput type="number" [(ngModel)]="ScanResult">
            @if (ScanResult) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="ScanResult=''">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
          <a mat-raised-button color="primary" href="https://www.barcodelookup.com/{{ScanResult}}">Search online</a>
          <button (click)="GetDbInfo()">GetDbInfo</button>
        </mat-card-header>

        <mat-list *ngFor="let prop of Item | keyvalue">
          <p>{{prop.key}}:{{prop.value}}</p>
        </mat-list>

        <zxing-scanner style="margin: 2%;" [formats]="AllowedFormats"
          (scanSuccess)="SuccessScan($event)"></zxing-scanner>
      </mat-card>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>