<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main">
  <div>
    <div>
      <mat-toolbar color="primary">
        <span>WhereWereAng</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-header>
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput type="number" [(ngModel)]="ScanResult">
            @if (ScanResult) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="ScanResult=''">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
          <a mat-raised-button color="primary" href="https://www.barcodelookup.com/{{ScanResult}}">Search online</a>
          <button mat-raised-button color="secondary" (click)="GetDbInfo()">GetDbInfo</button>
        </mat-card-header>

        <p>{{Item.Name_EN}} || {{Item.Price}}€ || {{Item.Barcode}}</p>
        <button mat-raised-button color="secondary" (click)="ScannerEnabled=false">Stop Scan</button>
        <button mat-raised-button color="secondary" (click)="ScannerEnabled=true">Start Scan</button>
        <zxing-scanner style="margin: 2%;" [formats]="AllowedFormats" (scanSuccess)="SuccessScan($event)"
          [enable]="ScannerEnabled"></zxing-scanner>
      </mat-card>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>