<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main">
  <div>
    <div>
      <mat-toolbar color="primary">
        <span>WhereWereAng</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-header>
          <mat-form-field style="width: 100vw;">
            <mat-label>Code</mat-label>
            <input matInput type="number" [(ngModel)]="ScanResult" (ngModelChange)="GetDbInfo()">
            @if (ScanResult) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="ScanResult='';GetDbInfo()"
              style="margin: 2px;">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
        </mat-card-header>

        <div>
          <button mat-fab color="secondary">
            <a href="https://www.barcodelookup.com/{{ScanResult}}">
              <mat-icon>search</mat-icon>
            </a>
          </button>


          <button mat-fab color="secondary" (click)="ScannerEnabled=false" *ngIf="ScannerEnabled">
            <mat-icon>videocam_off</mat-icon>
          </button>
          <button mat-fab color="secondary" (click)="ScannerEnabled=true" *ngIf="!ScannerEnabled">
            <mat-icon>videocam</mat-icon>
          </button>
        </div>

        <mat-card>
          <table mat-table [dataSource]="MatchingItems">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Barcode -->
            <ng-container matColumnDef="Barcode">
              <th mat-header-cell *matHeaderCellDef> Barcode </th>
              <td mat-cell *matCellDef="let element"> {{element.Barcode}} </td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
            </ng-container>

            <!-- Name_EN -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Name_EN}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
        <zxing-scanner style="max-width: 90vh;" [formats]="AllowedFormats" (scanSuccess)="SuccessScan($event)"
          [enable]="ScannerEnabled"></zxing-scanner>
      </mat-card>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>