.storeLabel {
  height: 39mm;
  width: 79mm;
  border: 2px solid black;
}

.NameEn {
  font-size: large;
  font-weight: bold;
}

.Barcode {
  font-size: medium;
}

.Price {
  font-size: x-large;
  font-weight: bolder;
}

.Num {
  font-size: small;
}

@media print {

  * {
    visibility: visible;
    width: auto;
    height: auto;
    display: block;
  }

}