/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* By default disable printing stuff */
@media print {

  .noPrint {
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;

    display: none;
  }

  .toPrint {
    visibility: visible;
    width: auto;
    height: auto;
    overflow: visible;
    display: block;
  }
}